body {
  display: flex;
  margin: 0;
  width: 215px;
}

caption {
  color: #4169E1;
  font-size: 1.15em;
  margin-left: .5rem;
  text-align: left;
}

tbody tr {
  display: list-item;
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 1.25rem;
  margin-bottom: .20rem;
  color: #000000;
  word-break: break-all;
}

tbody tr > * {
  display: inline-block;
}